* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  
  input, select, textarea{
      border: 0;
      outline: none;
      background: none;
      &::-webkit-scrollbar{width: 0;}
  }
  
::-webkit-resizer {display: none;}
  textarea{
    resize: none;
  }
  button{
    background-color: #00000000;
      border: 0;
      outline: none;
      &:hover{
        cursor: pointer;
      }
  }
  
  ul, ol, li {list-style: none;}
  input, select, textarea, button, a, label {-webkit-tap-highlight-color:rgba(0,0,0,0);}