@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url(./reset.css);
@import url(./root.css);
*{
    font-family: 'Pretendard-Regular','jalnan', Helvetica, 'Nanum Gothic',sans-serif ,serif;
}
html{
    width: 100%;
    height: 100vh;
    overscroll-behavior: contain;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
@import url(./top.css);