.top{
    position: relative;
    width: 100%;
    height: var(--top-h);
    padding: 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--top-bgcolor);
    backdrop-filter: blur(10px);
    border: var(--border);

    font-size: 0.85em;
    color: var(--top-color);
    text-shadow: var(--text-shadow);
}

.top>section{    
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.top>section:not(.top_c){
    width: 100%;
}
.top_l{
    justify-content: left;
}
.top_c{
    justify-content: center;
}
.top_r{
    justify-content: right;
    display: flex;
}
.top_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    &:hover{
        background-color: #ffffff2b;
        cursor: pointer;
    }
    &:active{
        background-color: #ffffff2b;
    }
}

.top_btn_calender{
    position: relative;
}
/* 캘린더 */
.top_calender{
    position: absolute;
    top: var(--top-h);
    left: 0;

    width: 240px;
    padding-top: 5px;
    border-radius: 15px;

    background-color: #0000002b ;
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);

    transition: opacity .2s ease-in-out;
    opacity: 0;
    z-index: -100;
}
#top_cbx_calender:checked ~ .top_calender{
    z-index: 100;
    opacity: 1;
}
#top_cbx_calender:checked ~ .top_back_calender{
    z-index: 99;
}
.top_calender header{
    display: flex;
    align-items: center;
    padding: 0 15px;  
    justify-content: space-between;
    height: var(--top-h);
}
.top_calender header .current-date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 100%;
    padding: 0 5px;
    border-radius: 5px;
    &:hover{
        background-color: #ffffff4f;
        cursor: pointer;
    }
}
.top_calender nav{
    padding: 0 5px;
    display: flex;
    gap: 10px;
}

.calendar{
    padding: 10px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 10px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: .9em;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
      --w-w:25px;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--w-w);
    width: var(--w-w);
    /* border-radius: 50%; */
    border-radius: 7px;
    z-index: -1;
  }
  .days li.active::before{
    background: #9B59B6;
    /* background: #c532ffaa; */

  }
  .days li:not(.active):hover::before{
    background-color: #ffffff4f;
    cursor: pointer;
}
.top_back_calender{
      background-color: #ffffff4f;

  }
  